/**
 * ----------------------
 * Config - Typography
 * ----------------------
 */

// Web fonts
$font-dir: "../fonts";


@font-face {
    font-family: "Riverside";
    src: url("#{$font-dir}/Riverside.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

  @font-face {
    font-family: "Riverside Outline";
    src: url("#{$font-dir}/RiversideOutline.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Krete Book";
    src: url("#{$font-dir}/KreteBook.otf") format("opentype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url("#{$font-dir}/Roboto-Regular.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url("#{$font-dir}/Roboto-Italic.ttf") format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Roboto";
    src: url("#{$font-dir}/Roboto-Bold.ttf") format("truetype");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
  }


/**
 * ----------------------
 * Base - Typography
 * ----------------------
 */

/**
 * Config
 */

/**
 * Headings
 */

 .krete-title {
  @apply text-lg font-krete;
 }

.h1 {
  @apply text-3xl font-riverside text-navy-500 dark:text-butterscotch-500;
}

.h2 {
  @apply text-2xl font-riverside ;
}

.h3 {
  @apply text-xl font-riverside ;
}

.h4 {
  @apply text-lg font-riverside ;
}

.h5 {
  @apply text-base font-riverside ;
}

.h6 {
  @apply text-sm font-riverside ;
}

/**
 * Links
 */
// a,
// button {
//   @apply text-inherit
//     text-xs;
// }

em {
  @apply font-light italic;
}

strong {
  @apply font-bold;
}

hr {
  @apply border-t-4;
}

.content {
  @for $i from 2 through 6 {
    h#{$i} {
      @apply font-bold ;
    }
  }

  h2 {
    @apply text-xl dark:text-butterscotch-500 text-tuscany-500;
  }
  h3 {
    @apply text-lg dark:text-butterscotch-300 text-tuscany-600;
  }

  p strong {
    @apply font-bold text-sm;
  }

  > * + * {
    @apply mt-6;
  }

  ol {
    @apply list-decimal ml-8;
  }

  img {
    @apply my-8;
  }

  blockquote {
    @apply border-l-4 border-navy dark:border-butterscotch-500 border-opacity-20 pl-4 italic;
  }

  ul {
    @apply mb-4 text-sm flex flex-col space-y-2;

    li {
      @apply ml-6 list-disc leading-tight;
    }
    ul {
        @apply mt-4 ml-6;
    }
  }

  a {
    @apply  border-b border-current dark:text-tuscany-300 text-tuscany-500 hover:text-tuscany-600 transition-all duration-300;
  }

    table td {
    @apply  px-2 py-2 border-b border-gray-500 border-opacity-20;
  }
}
